<br>
<form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
   
    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field> 
    

    <mat-form-field > 
      <mat-label>Avatar</mat-label>
      <input matInput readonly type="text" id="fakeFileInput" (click)="hiddenInput.click()" >
      <input hidden type="file" accept=".jpeg,.jpg,.png" #hiddenInput (change)="GetFileOnLoad($event)" [disabled]="propsCharacter !== undefined">
      <mat-icon matSuffix>folder_open</mat-icon>
   </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Enviar</button>
  </form>
  
