<mat-dialog-content>
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <p class="container-input">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" placeholder="Your name.." formControlName="name">
    </p>
    <p class="container-input">
      <label for="description">Descripción</label>
      <textarea type="text" id="description" name="description"  formControlName="description" placeholder="description..."></textarea>  
    </p>
    <p class="container-input">
      @if (propsCharacter() === undefined) {
        <label>Avatar</label> 
        <input type="file" accept=".jpeg,.jpg,.png" (change)="handleFileInput($event)" >
      }   
    </p> 
    <input type="submit" value="Enviar" color="primary" >
  </form> 
</mat-dialog-content>

  
